.user-component {
  justify-content: space-between;
  margin-bottom: 10px;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 40%;
  margin-right: 20px;
}
.user-component__name {
  font-size: 18px;
  font-weight: 600;
}

.user-component__subtitle {
  font-size: 13px;
  margin-top: 6px;
  color: var(--main-color);
}
.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}
.user-component__avatar--sm {
  width: 60px;
  height: 60px;
}

.user-component__name--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.user-component__time {
  display: block;
  margin-bottom: 10px;
}
.user-component__icon {
  font-size: 14px;
  border-radius: 50%;
  font-weight: 580;
  border: 1.5px solid tomato;
  color: tomato;
  padding: 0 5px;
  margin-top: 8px;
  margin-left: 3px;
}
.user-component__subinfo {
  display: flex;
  align-items: center;
}
